/* 设置item的样式 */
.item {
  /* 开启弹性盒 */
  display: flex;
  margin: 16px 0;
  padding: 6px;
  background-color: #fcbf49;
}

/* 设置日志内容的样式 */
.content {
  flex: auto;
  text-align: center;
  font-weight: bold;
}

.desc {
  font-size: 22px;
  color: #194b49;
}

.time {
  font-size: 14px;
  color: #d62828;
}
